/* App.css */
.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: #282c34;
    overflow: hidden; 
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }
  
  .sidebar {
    width: 300px; 
    height: 100vh;
    overflow: auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  
  .middle-content {
    color: white;
    flex-grow: 1; 
    padding: 20px; 
    margin-left: 300px;
    margin-right: 650px; 
    overflow-y: auto;
    height: 100vh; 
    scrollbar-width: thin;
    scrollbar-color: #888 #282c34; 
  }
  
  .middle-content::-webkit-scrollbar {
    width: 12px; 
  }
  
  .middle-content::-webkit-scrollbar-track {
    background: #282c34; 
  }
  
  .middle-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
    border: 3px solid #282c34; 
  }
  
  .dashboard {
    width: 650px; 
    flex-shrink: 0; 
    height: 100vh;
    overflow: auto;
  }

.card {
    background-color: #fff; 
    border: 1px solid #e1e8ed; 
    border-radius: 16px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    margin-bottom: 20px; 
    margin-top: 10px;
    transition: box-shadow 0.3s ease-in-out; 
  }
  
  .card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.18), 0 5px 20px rgba(0,0,0,0.20); 
  }
  
  .card-body {
    padding: 20px; 
  }
  
  .card-title {
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 10px; 
  }
  
  .card-text {
    font-size: 16px; 
    margin-top: 15px;
  }
  
  .card-subtitle {
    font-size: 14px; 
    margin-top: -5px; 
    color: #657786; 
  }
  
  .form-control {
    background-color: #f5f8fa; 
    border: 1px solid #e1e8ed; 
    border-radius: 20px; 
    padding: 10px 20px; 
  }
  
  .btn-primary {
    background-color: #1da1f2; 
    border-color: #1da1f2;
    border-radius: 20px; 
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #1991db; 
    border-color: #1991db;
  }
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: fkex-start; 
}



.user-info {
    display: flex;
    align-items: center; 
}

.tag-section {
    color: #4a9eda; 
    font-style: italic; 
    text-align: right; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.tag {
    margin-bottom: 3px; 
}

.post-profile-image {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 15px;
}

.post-main-content {
    margin-top: 20px; 
}