.sidebar {
    width: 22rem; 
    background-color: #15202B;
    color: white;
    padding: 30px; 
    box-sizing: border-box;
    border-radius: 15px; 
    font-size: 16px; 
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-image {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px; 
}

.sidebar-username {
    margin: 0;
    color: #fff;
    font-size: 24px; 
}

.sidebar-email {
    color: #8899a6;
    font-size: 14px; 
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.sidebar-menu li a {
    color: #8899a6;
    text-decoration: none;
    padding: 15px 20px; 
    display: block;
    border-radius: 8px; 
    transition: background-color 0.2s, color 0.2s;
    font-size: 18px;
}

.sidebar-menu li a:hover {
    background-color: #1B2940;
    color: #1DA1F2;
}

.sidebar-footer {
    text-align: center;
}

.sidebar-footer a {
    color: #1DB954;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 18px; 
}

.sidebar-footer a:hover {
    color: #1DA1F2;
    text-decoration: underline;
}
